/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

/* @tailwind base;
@tailwind components;
@tailwind utilities; */


@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */
button {
  /* background-color: blue !important;
  color: white !important; */
}

body {
  font-family: 'Poppins', sans-serif;
}
h2 {
  color: #92deed; /* This could override Tailwind's text color */
}

button {
  @apply cursor-pointer;
  cursor: pointer !important;
}

.button {
  cursor: pointer !important;
}


*:before,
*:after {
  @apply cursor-default;
}

button:disabled {
  cursor: not-allowed; /* Override default disabled behavior */
}