@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}
h2 {
  color: #92deed;
}

button {
  @apply cursor-pointer;
  cursor: pointer !important;
}

.button {
  cursor: pointer !important;
}

.stroke-text {
  -webkit-text-stroke: 1px black;
  color: transparent;
}

*:before,
*:after {
  @apply cursor-default;
}

button:disabled {
  cursor: not-allowed; /* Override default disabled behavior */
}

.component-wrapper {
  @apply px-4 md:px-6 lg:px-8;
}

@layer utilities {
  .line-clamp-3 {
    @apply overflow-hidden;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
