/* .carousel .thumb {
    border: 0px solid  #11112B;
    transition: all 0.3s ease;
    border-radius: 10;
  }
  

  .carousel .thumb.selected {
    border: 4px solid #ffffff;
    border-radius: 10;
  } */